{% extends "layout.html" %}
{% block body_content %}
    <div class='form'>
        <form method='POST' action=''>
            {{ form.hidden_tag() }}
            {{ form.first_name.label }}
            {{ form.first_name }}
            {% if form.first_name.errors %}
            <!-- surround the displayed errors in a error div tag, this can then be styled later to be red etc. -->
            <div class="error">
                <!-- for each error in the errors for the first_name input field -->
                {% for error in form.first_name.errors %}
                    <!-- display the error -->
                    <span>{{ error }}</span>
                <!-- end the for-loop -->
                {% endfor %}
            </div>
        <!-- end the if statement -->
            {% endif %}
            
            {{ form.last_name.label }}
            {{ form.last_name }}
            {% if form.last_name.errors %}
            
            <div class="error">
                
                {% for error in form.last_name.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            
            {{ form.title.label }}
            {{ form.title }}
            {% if form.title.errors %}
            
            <div class="error">
                
                {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            
            {{ form.content.label }}
            {{ form.content }}
            {% if form.content.errors %}
            
            <div class="error">
                
                {% for error in form.content.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
            
            {{ form.submit }}
        </form>
    </div>
{% endblock %}